---
console.log("javascript")
import HeaderButton from './HeaderButton.astro';

---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-16">
    <div>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
        <h1 class="text-6xl text-white">hola 🚀</h1>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            all the information about
        </p>
    </div>
    <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
        <HeaderButton class="text-white" href="/agreeable-ablation/">holaaaaaa</headerButton>
        <HeaderButton class="text-white" href="/oldest">los más viejos</headerButton>
        <HeaderButton class="text-white" href="/about">los más viejos</headerButton>
    </nav>
</header>
